   <h3 class="text-center"> Datos del autor: </h3>
   
   <br/>
   <br/>
   
   <div class="container-fluid row-fluid text-center ">
         <div class="col-sm-2 col-sm-push-4">
            <img class="img-circle" src="http://g.cdn.ecn.cl/temas-legales/files/2012/08/persona-juridica.jpg" alt="Perfil de autor" width="50%" height="50%"></img>
         </div>
         <div class="col-sm-5 col-sm-offset-4">
            <ul class="list-group listaAutor">
               <li class="list-group-item"> <b>Nombre:</b> <%= nombre %></li>
               <li class="list-group-item"> <b>Apellido:</b> <%= apellido %></li>
            </ul>
        
      </div>
   </div>

    
    <br/>
    <br/>
    <br/>