    <div class="text-center">
      <h3> Quiz: el juego de las preguntas </h3>
      <br/>
      <br/>
      <a class="btn btn-primary btn-large text-center" href="/quizes/question"> Comienze a jugar </a>
    </div>
    
    <br/>

    
