<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css">
        
    <style>
        body {
            padding-top: 50px;
        }
        .menu {
            background-color: black;
        }
        .listaAutor {
            width: 50%;
        }
    </style>
    
  </head>
  <body>
  
    <div class="jumbotron container-fluid text-center"> 
      <h1> Bienvenido a <%= title %> </h1> 
      <p> El portal donde podrá crear sus propios juegos!</p>
    </div>
    
     <!-- NAVIGATOR BAR -->
    <nav class="navbar navbar-inverse navbar-fixed-top menu" role="navigation">
        <!-- Obligatorio dar un padding al body con fixed-->

        <div class="container">

            <div class="navbar-header">
                <!-- Hamburger - Dispositivos móviles -->
                <!-- Icono -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburger-navigation">
                    <span class="sr-only">Navigation toggle</span>
                    <!-- Rayas del icono en disp. móviles -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse" id="hamburger-navigation">
                <ul class="nav navbar-nav" role="menu">
                    <li><a href="/" class="active"> Inicio </a><span class="sr-only">current</span></li>
                    <!--<li><a href="/quizes/question" class="navbar-brand"> Preguntas </a></li>   -->
                    <li><a href="/quizes" class="navbar-brand"> Preguntas </a></li> 
                    <li><a href="/author" class="navbar-brand"> Créditos </a></li>              
                </ul>
            </div>
        </div>
    </nav>
    
   <p>
     <!-- HTML importado -->
     <%- body %>
   </p>
    
    <footer class="text-center"> 
		<a href="https://es.wikipedia.org/wiki/Quiz"><b> ¿Qué es un Quiz? </a> || <span class=""> Código fuente en <a href="https://github.com/jesusiglesias/quiz-miriadax-mooc"> GitHub </b></a></span>
		<br/>
        <h4><b> Desarrollo Quiz - Node.js, Express </b></h4>
	</footer>
    
    <!-- Inclusión de ficheros JavaScript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      
  </body>
</html>
  