
	<!-- Formulario -->
	<div class="form-group">
		<div class="col-sm-12">
			<label for="pregunta"> Pregunta: </label>
		</div>
		<div class="col-sm-4 col-sm-offset-4">
			<input type="text" class="form-control" id="pregunta" name="quiz[pregunta]" placeholder="Introduzca la respuesta"/> 
  		</div>
	</div>

	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	
  	<div class="form-group">
		<div class="col-sm-12">
			<label for="respuesta"> Respuesta: </label>
		</div>
		<div class="col-sm-4 col-sm-offset-4">
    		<input type="text" class="form-control" id="respuesta" name="quiz[respuesta]" placeholder="Introduzca la pregunta"/>
			<!-- <input type="text"  name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> -->
  		</div>
	</div>
	
	<br/>
	<br/>
	<br/>
	<br/>
	
	<div class="form-group">
		<div class="col-sm-12">
			<label for="indice"> Índice temático: </label>
		</div>
		<div class="col-sm-4 col-sm-offset-4">
			<select name="quiz[indice]" class="form-control selectpicker" id="indice">
				    <option value="Otro" selected>Otro</option>
				    <option value="Humanidades">Humanidades</option>
				    <option value="Ocio">Ocio</option>
				    <option value="Ciencia">Ciencia</option>
				    <option value="Tecnología">Tecnología</option>
		</select>
  		</div>
	</div>
	
	<br/>
	<br/>
	<br/>
	<br/>
	
	<a href="/quizes"><button type="button" class="btn btn-primary"> Cancelar </button></a>
	<button type="submit" class="btn btn-primary">Guardar</button>
	
	<br/>
	<br/>
	<br/>
  
