<div class="container-fluid text-center">
	<h4> Edite la pregunta: </h4>
	<p class="text-center"> Índice temático actual: <%= quiz.indice %> <p>
	
	<br/>
	
	<form method="post" action="/quizes/<%= quiz.id %>?_method=put">
		<% include _form.ejs %>
	</form>
</div>
	