   	
	   <div class="container-fluid row-fluid text-center ">
         <div class="col-sm-12 col-sm-offset-3">
            <ul class="list-group listaAutor">
				<% var i; for (i=0; i < quizes.length; i++) { %>
					<li class="list-group-item"> <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a> </li>
				<% } %>
            </ul>
      </div>
   </div>
   
    <br/>
    <br/>
    <br/>