
    <div class="container-fluid">
      <form class="form-inline" method="get" action="/quizes/answer">
        <h3 class="text-center"> Pregunta: <%= pregunta %> </h3>
        <br/>
        <br/>
        <div class="text-center">
          <div class="form-group">
            <label for="idRespuesta">Indique su respuesta: </label>
            <input type="text" class="form-control" id="idRespuesta" name="respuesta" placeholder="Respuesta" required="required">
          </div>
          <button type="submit" class="btn btn-primary"> Enviar </button>
        </div>
      </form>
    </div>
       
    <br/>
    <br/>
    <br/>
